# Tennesee Eastman Process Data
> Module for getting Tennesee Eastman Process data

In [ ]:
#| default_exp TEP

In [ ]:
from dPCA.lag import *
from dPCA.corrmat import *

In [ ]:
#| export
#| hide
import pandas as pd
import numpy as np
import matplotlib.cm as cm
import matplotlib.pyplot as plt

We are now going to try and automate the analysis of PACM and ACM by simply utilising loops and eigenvalues. First however we are going to bring in some data from the Tennesee Eastman Process (TEP).

In [ ]:
filepath = 'https://github.com/waterboy96/TEPData/blob/1ac08a54cb9d420ff4bc0c3f0076ca06dc2ec7e4/TEP.csv?raw=true'

In [ ]:
TEP = pd.read_csv(filepath, index_col = [0]); TEP.head()

,0,1,2,3,4,5,6,7,8,9,...,42,43,44,45,46,47,48,49,50,51
0,0.24889,3702.3,4502.7,9.4170,26.996,42.183,2705.2,75.173,120.40,0.33611,...,54.059,24.804,63.269,21.950,40.188,39.461,47.000,47.594,41.384,18.905
1,0.24904,3666.2,4526.0,9.2682,26.710,42.332,2705.5,74.411,120.41,0.33676,...,53.781,24.790,62.171,22.239,40.108,43.710,46.128,47.508,41.658,18.976
2,0.25034,3673.3,4501.3,9.4212,26.842,42.360,2705.3,75.125,120.41,0.33739,...,54.075,24.669,61.585,22.191,40.030,39.480,44.121,47.612,41.721,16.562
3,0.25109,3657.8,4497.8,9.3792,26.528,41.982,2707.3,73.992,120.38,0.33664,...,54.117,24.595,61.561,21.959,40.121,32.848,45.858,47.459,40.836,20.094
4,0.24563,3698.0,4537.4,9.3746,26.736,42.354,2705.3,75.283,120.42,0.32521,...,53.906,24.451,61.388,22.271,39.538,36.682,45.753,47.458,41.727,18.330

In [ ]:
namepath = 'https://github.com/waterboy96/TEPData/blob/main/TEPnames.xlsx?raw=true'

In [ ]:
names = pd.read_excel(namepath, index_col = [0], header = None); names.head()

,1,2,3,4,5,6,7,8,9,10,...,43,44,45,46,47,48,49,50,51,52
0,,,,,,,,,,,,,,,,,,,,,
Type,Continuous,Continuous,Continuous,Continuous,Continuous,Continuous,Continuous,Continuous,Continuous,Continuous,...,Manipulated,Manipulated,Manipulated,Manipulated,Manipulated,Manipulated,Manipulated,Manipulated,Manipulated,Manipulated
Subtype,Continuous,Continuous,Continuous,Continuous,Continuous,Continuous,Continuous,Continuous,Continuous,Continuous,...,Manipulated,Manipulated,Manipulated,Manipulated,Manipulated,Manipulated,Manipulated,Manipulated,Manipulated,Manipulated
Block,Feed,Feed,Feed,Feed,Feed,Feed,Reactor,Reactor,Reactor,Separator,...,Feed,Feed,Compressor,Separator,Separator,Stripper,Stripper,Reactor,Stripper,Reactor
Name,A Feed,D Feed,E Feed,A and C feed,Recycle flow,Reactor feed rate,Reactor pressure,Reactor level,Reactor temperature,Purge rate,...,A feed flow,A and C feed flow,Compressor recycle valve,Purge valve,Separator pot liquid flow,Stripper liquid product flow,Stripper steam valve,Reactor cooling water flow,Condenser cooling water flow,Agitator speed

In [ ]:
TEP.columns = names.loc['Name']; TEP.head()

Name,A Feed,D Feed,E Feed,A and C feed,Recycle flow,Reactor feed rate,Reactor pressure,Reactor level,Reactor temperature,Purge rate,...,A feed flow,A and C feed flow,Compressor recycle valve,Purge valve,Separator pot liquid flow,Stripper liquid product flow,Stripper steam valve,Reactor cooling water flow,Condenser cooling water flow,Agitator speed
0,0.24889,3702.3,4502.7,9.4170,26.996,42.183,2705.2,75.173,120.40,0.33611,...,54.059,24.804,63.269,21.950,40.188,39.461,47.000,47.594,41.384,18.905
1,0.24904,3666.2,4526.0,9.2682,26.710,42.332,2705.5,74.411,120.41,0.33676,...,53.781,24.790,62.171,22.239,40.108,43.710,46.128,47.508,41.658,18.976
2,0.25034,3673.3,4501.3,9.4212,26.842,42.360,2705.3,75.125,120.41,0.33739,...,54.075,24.669,61.585,22.191,40.030,39.480,44.121,47.612,41.721,16.562
3,0.25109,3657.8,4497.8,9.3792,26.528,41.982,2707.3,73.992,120.38,0.33664,...,54.117,24.595,61.561,21.959,40.121,32.848,45.858,47.459,40.836,20.094
4,0.24563,3698.0,4537.4,9.3746,26.736,42.354,2705.3,75.283,120.42,0.32521,...,53.906,24.451,61.388,22.271,39.538,36.682,45.753,47.458,41.727,18.330

In [ ]:
#| export
def GetTEP():
    filepath = 'https://github.com/waterboy96/TEPData/blob/1ac08a54cb9d420ff4bc0c3f0076ca06dc2ec7e4/TEP.csv?raw=true'
    TEP = pd.read_csv(filepath, index_col = [0])
    namepath = 'https://github.com/waterboy96/TEPData/blob/main/TEPnames.xlsx?raw=true'
    names = pd.read_excel(namepath, index_col = [0], header = None)
    TEP.columns = names.loc['Name']
    
    return TEP

In [ ]:
TEP = GetTEP()

In [ ]:
TEP

Name,A Feed,D Feed,E Feed,A and C feed,Recycle flow,Reactor feed rate,Reactor pressure,Reactor level,Reactor temperature,Purge rate,...,A feed flow,A and C feed flow,Compressor recycle valve,Purge valve,Separator pot liquid flow,Stripper liquid product flow,Stripper steam valve,Reactor cooling water flow,Condenser cooling water flow,Agitator speed
0,0.24889,3702.3,4502.7,9.4170,26.996,42.183,2705.2,75.173,120.40,0.33611,...,54.059,24.804,63.269,21.950,40.188,39.461,47.000,47.594,41.384,18.905
1,0.24904,3666.2,4526.0,9.2682,26.710,42.332,2705.5,74.411,120.41,0.33676,...,53.781,24.790,62.171,22.239,40.108,43.710,46.128,47.508,41.658,18.976
2,0.25034,3673.3,4501.3,9.4212,26.842,42.360,2705.3,75.125,120.41,0.33739,...,54.075,24.669,61.585,22.191,40.030,39.480,44.121,47.612,41.721,16.562
3,0.25109,3657.8,4497.8,9.3792,26.528,41.982,2707.3,73.992,120.38,0.33664,...,54.117,24.595,61.561,21.959,40.121,32.848,45.858,47.459,40.836,20.094
4,0.24563,3698.0,4537.4,9.3746,26.736,42.354,2705.3,75.283,120.42,0.32521,...,53.906,24.451,61.388,22.271,39.538,36.682,45.753,47.458,41.727,18.330
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
955,0.23955,3687.2,4581.0,9.3941,26.878,42.199,2705.2,75.573,120.41,0.33658,...,54.571,24.129,62.237,22.005,41.145,38.419,45.451,47.510,41.466,16.998
956,0.23352,3625.4,4500.9,9.3884,26.754,42.477,2708.3,74.372,120.41,0.33708,...,54.741,23.006,58.477,22.337,40.351,38.657,47.279,47.567,40.971,15.621
957,0.23440,3660.3,4535.7,9.3709,27.034,42.302,2707.3,75.292,120.40,0.34096,...,54.324,22.919,61.946,22.227,39.877,41.288,44.007,47.338,41.891,21.744
958,0.23611,3645.0,4506.9,9.1996,26.769,42.252,2704.2,74.956,120.38,0.35081,...,53.732,23.630,62.816,21.982,41.638,42.218,40.647,47.266,39.813,18.826
959,0.23729,3666.8,4511.1,9.2764,26.467,42.330,2702.0,75.270,120.41,0.34809,...,53.682,23.514,60.518,21.642,41.970,34.258,41.110,47.165,40.500,18.353

In [ ]:
#| hide
import nbdev; nbdev.nbdev_export()